
a {
	color: white;
}

.side-menu-wrapper {
	display: none;
	position: fixed;
	width: 0vw;
	height: 100vh;
	z-index: 10000;
	opacity: 0;
	background-color: black;

}


.side-menu-text-container {
	margin-top: 20vh;
	display: none;
	opacity: 0;
	flex-direction: column;
	justify-content: space-around;
	height: 50vh;
	text-align: right;
}