@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


.timeline-list {
	padding: 2em 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
	font-family: 'Inconsolata', monospace;
}


.timeline-main-title {
	font-weight: 200;
	letter-spacing: .3em;
	padding: 3em;
	font-size: 2.5em;
	text-align: center;
}